<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
  
</head>
<body>
  {{>navbar}}
   
    <div class="container-fluid main_header main_about">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure> 
                     <img src="images/annieimage.jpg" alt="anjali" class="img-fluid">
                    </figure>
                 </div>
    
                        <div class="col-md-6 col-12 main_header_left">
                     <p>Welcome to Anjali Technical World </p>
                     <h1>
                     I am a <span class="text-clr">Mern Stack Developer,</span>Programmer And a Dancer</h1>
                     <a href="/weather"><button>Check now</button></a>
                     </h1>
                    </div>
            </div>
            
                
                

            </div>
        </div>
    </div>
   
    {{>footer}}
   {{!-- <footer>
    <p>created with love by anjali </p>
   </footer> --}}
</body>
</html>